/* TAG */

th, td {
    padding: 1px 10px;
}

ul {
    padding-left: 0px;
    margin: 2px 0px !important;
}

li {
    list-style-type: none;
}

button, input[type='submit'] {
    margin: 5px !important;
}

/* ID */

#container {
    margin: 50px;
}

#comment-name {
    font-size: 0.8em;
}