{% extends 'base.html.twig' %}

{% block title %}Running{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('hobbypage') }}">
                <button class="btn btn-outline-success">Back</button>
            </a>
            <article>
                <h2 class="text-info">Running</h2>
                <section>
                    <p class="text-primary">Hier komt tekst..</p>
                </section>
            </article>

        </div>
    </div>
{% endblock %}
